html {
    scroll-behavior: smooth;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
}

a, a:hover, a:active {
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    color:#555;
}


h1, h2, h3, h4 {
    font-family:'Oswald';
    font-weight: 700;
    text-transform: uppercase;
}

.overlay-menu {
    height: 0;
    width: 100%;
    position: fixed;
    z-index: 999;
    top: 80px;
    left: 0;
    background-color: rgb(255,255,255);
    background-color: rgba(255,255,255, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
    text-align:center;
}

.top-menu-bar {
    width:100%;
    height:80px;
    line-height:80px;
    display:none;
    position:fixed;
    top:0;
    left:0;
    z-index:3;
    background:#fff;
}

.menu-container {
    width:100%;
    position:relative;
}

.menu-bar {
    display: inline-block;
    cursor: pointer;
    position:absolute;
    right:15px;
    top:20px;
  }
  
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #555;
    margin: 6px 0;
    transition: 0.4s;
  }

  .overlay-menu-content ul li {
      width:100%;
      padding:10px;
      line-height:1.2em;
      font-size:1.2em;
  }
  
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }

.clr-yellow {
    color:#FFC03A;
}

.bg-clr-grey {
    background-color:#f3f3f3;
}

.btn-yellow {
    background-color:rgba(255, 192, 58, 1);
}

img {
    max-width:100%;
}

.center-div {
    margin:auto;
    padding:20px;
}

.banner-div {
    overflow:hidden;
    height:500px;
}

#hiw div div.row ul>li:first-child {
    width:auto;
    height:250px;
    overflow:hidden;
    font-weight: 700;
}

#hiw div div.row ul>li:nth-child(2) {
    height:120px;
    padding:20px 10px;
    background-color:#f3f3f3;
}

.ask, .answer, .trending {
    text-transform:uppercase;
    text-align:center;
    background-position: left top;
    background-repeat: no-repeat;
    background-size:100% auto;
    color:white;
}

.ask {
    background-image: url('../img/ask.jpg')
}
.answer {
    background-image: url('../img/answer.jpg')
}
.trending {
    background-image: url('../img/trending.jpg')
}

.email, #mc-embedded-subscribe {
    width:40%;
}

.profile {
    height:200px;
    width:200px;
    border-radius:100px;
    margin-bottom:20px;
}




.row.p-top-btm {
    padding:2em 0;
}

@media only screen and (max-width: 768px) {
  
    .banner-div {
        overflow:hidden;
        height:180px;
    }
    .email {
        width:90%;
    }

    .container-fluid {
        margin-top:100px;
    }

    #logo {
        vertical-align: middle;
        height:50px;
    }

    .top-menu-bar {
        display:block;
    }

    #hiw div div.row ul>li:nth-child(2) {
        height:auto;
        
    }

    #hiw div div.row ul>li:first-child {
        height:120px;
        
    }
  }