html {
    scroll-behavior: smooth;
    font-family: 'Biryani',  Helvetica, Arial,sans-serif;
}

a, a:hover, a:active {
    font-family: 'Biryani',  Helvetica, Arial,sans-serif;
    color:#000;
}


h1, h2, h3, h4 {
    font-family:'Rubik',  Helvetica, Arial,sans-serif;
    font-weight: 700;
}

.m-top-2 {
    margin-top:2rem;
}

.p-side-6 {
    padding-left:6rem !important;
    padding-right:6rem !important;
}

.row.p-top-7 {
    padding-top:7rem;
}

.row.p-btm-7 {
    padding-bottom:7rem;
}


.huge {
    font-size:4rem;
}

.medium {
    font-size:3rem;
}

.small {
    font-size:1.5rem;
}

.x-small {
    font-size:1.2rem;
}

.max-width-100 {
    max-width:100%;
}

.overlay-menu {
    height: 0;
    width: 100%;
    position: fixed;
    z-index: 999;
    top: 80px;
    left: 0;
    background-color: rgb(255,255,255);
    background-color: rgba(255,255,255, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
    text-align:center;
}

.top-menu-bar {
    width:100%;
    height:80px;
    line-height:80px;
    display:none;
    position:fixed;
    top:0;
    left:0;
    z-index:3;
    background:#fff;
}

.menu-container {
    width:100%;
    position:relative;
}

.menu-bar {
    display: inline-block;
    cursor: pointer;
    position:absolute;
    right:15px;
    top:20px;
  }
  
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #555;
    margin: 6px 0;
    transition: 0.4s;
  }

  .overlay-menu-content ul li {
      width:100%;
      padding:10px;
      line-height:1.2em;
      font-size:1.2em;
  }
  
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }

  .top-nav {
    height:7rem;
    padding:1.5rem 0;
    position:fixed;
    top:0;
    left:0;
    background:#fff;
    z-index:9999;
    width:100%;
  }

  .menu-nav {
    font-size:1rem;
    margin:1rem 0;
    text-transform:uppercase;
  }

  #logo {
    height:4rem;
  }

.clr-yellow {
    color:#FFC03A;
}

.bg-clr-grey {
    background-color:#f3f3f3;
}

.bg-clr-dark-grey {
    background-color: #808080;
    color:#fff;
}

.bg-clr-yellow {
    background-color:#FFC03A;
}

.btn-yellow {    
    padding:1rem 2rem;
    color:#fff;
}


.center-div {
    margin:auto;
    padding:20px;
}

.banner-div {
    overflow:hidden;
    height:500px;
}

#hiw div div.row ul{
    border: 4px solid #FFC03A;
}

#hiw div div.row ul>li:first-child {
    width:auto;
    height:20rem;
    overflow:hidden;
    font-weight: 700;
}

#hiw div div.row ul>li:nth-child(2) {
    height:8rem;
    padding:20px 10px;
    text-transform:uppercase;
    
}
#hiw div div.row ul>li:nth-child(2) h2 {
    font-weight:300;
}

.support, .connect, .productive, .fun {
    text-transform:uppercase;
    text-align:center;
    background-position: left top;
    background-repeat: no-repeat;
    background-size:100% auto;
    color:white;
}

.support {
    background-image: url('../img/support.png')
}
.connect {
    background-image: url('../img/connect.png')
}
.productive {
    background-image: url('../img/productive.png')
}
.fun {
    background-image: url('../img/fun.png')
}

.email, #mc-embedded-subscribe {
    width:40%;
}

.profile {
    height:200px;
    width:200px;
    border-radius:100px;
    margin-bottom:20px;
}




.border-red {
    border:4px solid red;
}

@media only screen and (max-width: 768px) {
  
    .p-side-6 {
        padding-left:1rem !important;
        padding-right:1rem !important;
    }

    .top-nav {
        display:none;
    }

    .banner-div {
        overflow:hidden;
        height:180px;
    }
    .email {
        width:90%;
    }

    .container-fluid {
        margin-top:100px;
    }

    #logo {
        vertical-align: middle;
        height:50px;
    }

    .top-menu-bar {
        display:block;
    }

    #hiw div div.row ul>li:nth-child(2) {
        height:auto;
        
    }

    #hiw div div.row ul>li:first-child {
        height:15rem;
        
        
    }

    .support, .connect, .productive, .fun {
        background-position: center;
        background-size:auto 100%;
        
    }

    .row.p-top-7 {
        padding-top:80px;
    }
  }